In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
df_prods = pd.read_csv('/Users/yukbuinnemtat/Desktop/30-07-2023 Instacart Basket Analysis/02 Data/Original Data/products.csv')

In [3]:
df_ords_prior = pd.read_csv('/Users/yukbuinnemtat/Desktop/30-07-2023 Instacart Basket Analysis/02 Data/Original Data/orders_products_prior.csv')

In [5]:
df_ords = pd.read_csv('/Users/yukbuinnemtat/Desktop/30-07-2023 Instacart Basket Analysis/02 Data/Prepared Data/orders_checked.csv')

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 6)

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts ()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# TASK 4.6

### 1. If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [11]:
# Assuming you have prepared Instacart orders data in a variable called 'df_ords' and new dataframe in 'df_ords_prior'

# Merge the dataframes on the common column 'order_id'

orders_products_combined = pd.merge(df_ords, df_ords_prior, on='order_id')

### 2. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [12]:
# Save the merged dataframe as pickle file

orders_products_combined.to_pickle('orders_products_combined.pkl')